node_modules
dist
dist-ssr
release
.env.ota.local
.DS_Store
*.log
.vite
coverage
*.tsbuildinfo
*.local

android/.gradle
android/app/build
android/build
android/local.properties
android/captures
android/.idea
*.apk
*.aab
*.ap_
*.dex
